<body style="background-color: rgb(0, 206, 252);">
<app-navbar></app-navbar>

<div id="outPopUp" class="container">
  <div class="row">
      <div id="textcent" class="col-md-6 mt-5 mx-auto" >
          
        <div class="card-header"><h1 class="text-center text-info fw-bold">FAQ</h1></div>
              <br>
          <div class="box">
              <br>
              <div class="faqs">
                  <img src="" style="width:50%">
                 <details>
                    <summary>History of SMK Raja Tun Uda</summary>
                    <br>
                    <p align="center" class="text text-info">Sekolah Menengah Kebangsaan Raja Tun Uda originally occupied the premises of the Bayan Lepas English School. It was known as Sekolah Menengah Kebangsaan Bayan Lepas. In 1976, when the Penang International Airport underwent a major expansion, the school was relocated to its present site along Jalan Tengah. This happened alongside Sekolah Kebangsaan Seri Permai, which is today still its next door neighbour. The original site is now occupied by the Malaysia Airport Training Centre.Sekolah Menengah Kebangsaan Raja Tun Uda was named after Raja Tun Uda Al-Haj bin Raja Muhammad (1894-1976), the first Governor of Penang State, serving from 1957 to 1967. He is the grandfather of the editor of Malaysia Today, Raja Petra Kamaruddin.As of 2011, Sekolah Menengah Kebangsaan Raja Tun Uda has approximately two thousand students.
                      </p>
                 </details>
                 <details>
                    <summary>Mission</summary>
                    <br>
                    <p align="center" class="text text-info fw-bold">School staff members will aim to enhance a favourable work culture for the school in order to become a centre of educational excellence in the Southwest District. Implement an electronic management and administration system that is transparent, efficient, and effective. ensuring that academic and extracurricular accomplishments are always being improved. promoting exceptional levels of enthusiasm, talent, and originality while encouraging all students to participate in the curriculum and extracurricular activities. creating a comfortable environment for teaching and learning that is safe, peaceful, and conducive.
                    </p>
                 </details>
                 <details>
                  <summary>Achievement</summary>
                  <br>
                  <p align="center" class="text text-info fw-bold">Become the Southwest District's model institution. visited in 2010 by a delegation from SMP Pertiwi in Indonesia. pupils' active participation in extracurricular activities and sports. Implement diverse programmes for academic and extracurricular excellence. Take part in a variety of extracurricular, sporting, and academic activities. Gain participation in the activities. schools that many parties have adopted. Special recognition and awards</p>
               </details>
              </div>
           </div>
           <br>
           <br>
      </div>
      
  </div>

