<body style="background-color: rgb(0, 206, 252);">
<app-navbar></app-navbar>
<body style="background-color: rgb(0, 206, 252);">
<div id="outPopUp" class="container">
  <div class="row">
      <div id="textcent" class="col-md-6 mt-5 mx-auto">
          
        <div class="card-header"><h1 class="text-center text-body fw-bold">About</h1></div>
              <br>
              <img src="./assets/smkrtu2.png" style="width:100%" class="card border-danger mb-3">
              <br>
              <br>
              <h5 align="center" class="text-body fw-bold">Sekolah Menengah Kebangsaan Raja Tun Uda originally occupied the premises of the Bayan Lepas English School. It was known as Sekolah Menengah Kebangsaan Bayan Lepas. In 1976, when the Penang International Airport underwent a major expansion, the school was relocated to its present site along Jalan Tengah. This happened alongside Sekolah Kebangsaan Seri Permai, which is today still its next door neighbour. The original site is now occupied by the Malaysia Airport Training Centre.
              </h5>
          <br>
          <h2 id="tagging" style="text-align:center" class="text-danger fw-bold">STAFF</h2>
          <br>
          
              </div>
                
                <div class="column">
                  <div class="card" class="card border-light mb-3">
                    <img src="./assets/GURU.png" style="width:100%">
                    <div class="container">
                      <br>
                      <h2 style="text-align:center" class="text-body fw-bold" > SMK RAJA TUN UDA</h2>
                      <p class="title" style="text-align:center" class="text-danger " >Staff</p>
                      <p style="text-align:center" class="text-success"></p>
                    
                    </div>
                  </div>
                  <br>
                <br>
                
                </div>
              
                




